/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f0f0f0;
    color: #333;
}

/*  NAVEGADOR*/
.nav {
    width: 100%;
    padding: 20px 40px;
    background: #0f1c2b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-dot {
    width: 12px;
    height: 12px;
    background: #c46639;
    border-radius: 50%;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
}

.slogan {
    color: #ccc;
    font-size: 14px;
}

.nav-menu a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #c46639;
}


.hero {
    height: 420px;
    background: url('WhatsApp\ Image\ 2025-12-03\ at\ 10.33.24\ AM.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.hero-content p {
    width: 420px;
    color: #ddd;
    font-size: 18px;
    margin: 15px 0 25px 0;
}

.btn-hero {
    padding: 12px 25px;
    background: #c46639;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-hero:hover {
    opacity: .9;
}

/* FORMULARIO  */
.form-section {
    background: #0f1c2b;
    padding: 60px 50px;
    color: #fff;
}

.form-container {
    max-width: 1100px;
    margin: auto;
}

.form-container h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

/* FILAS DEL FORMULARIO */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* CAMPOS */
.form-field {
    flex: 1;
    min-width: 200px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    color: #ddd;
}

.form-field input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 15px;
}

.form-field input:focus {
    border: 2px solid #c46639;
}


.check-group {
    margin-top: 15px;
    color: #fff;
}

.check-group label {
    margin-right: 20px;
    font-size: 16px;
}

/* BOTÓN ENVIAR */
.btn-send {
    margin-top: 25px;
    padding: 12px 40px;
    background: #c46639;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-send:hover {
    opacity: .9;
}

/*  RESPONSIVE */
@media (max-width: 768px) {

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .form-row {
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        width: 100%;
    }
}
